* {
    margin: 0;
    padding: 0;
}

body {
    width: 720px;
    position: realtive;
    margin: 0 auto;
    background-color: #222;

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* Prevent scrolling */
    overflow: hidden;
}

table {
    width: 720px;
    height: 720px;
    background-color: #333;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
    border-spacing: 0;
}

#scoreBoard {
    margin-top: 50px;
    width: 720px;
    background-color: #444;
    padding: 10px 0;
    text-align: center;
    color: #999;
    font-size: 1em;
}

#pause {
    cursor: pointer;
    border: none;
    background: none;
    color: #999;
    font-size: 1em;
    margin-left: 50px;
}

#play {
    margin-top: 20px;
    color: #333;
    background-color: #d61717;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
}

/* Mobile Sizing */
@media screen and (max-width: 800px) {
    body {
        width: 90vw;
    }
    
    table {
        width: 90vw;
        height: 90vw;
    }
    
    #scoreBoard {
        margin-top: 50px;
        width: 90vw;
    }
    
    #play {
        margin-top: 20px;
        color: #333;
        background-color: #d61717;
        text-decoration: none;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 5px;
    }
}

#play:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

td {
    box-sizing: border-box;
    background: #7ac93a;
    /* #6fbb30 */
    padding: 0;
}

.checkerBoard {
    background: #6fbb30;
}

td.snakeCell {
    background: #6545d8;
}

td.snakeHead {
    background: #3673ec;
}

td.fruitCell {
    background: red;
}

.gameOver {
    width: 200px;
    margin-left: -100px;
    position: fixed;
    left: 50%;
    top: 0;
    display: block;
    color: #d61717;
    text-align: center;
    padding: 10px 0;
}