body {
	font-family: Helvetica;
	background: black;
}

/* Structure */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 540px;
	max-height: 960px;
	width: 90vw;
	height: 160vw;
	margin: 0 auto;
	border: 1vw solid #222222;
	border-radius: 4vw;
	padding: 0vw;
	font-size: 8vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

@media screen and (min-width:540px) {
	main {
		font-size: 48px;
	}
	p {
		margin-top: 8px;
	}
}

/* Screen */
#mainDisplay {
	width: 80vw;
}

/* Buttons */
div {
	width: 20vw;
	height: 20vw;
	max-width: 120px;
	max-height: 120px;
	background: black;
	border-radius: 10vw;
	color: white;
	text-align: center;
	margin: 0.5vw;
}

div p {
	padding: 0;
	margin-top: 4vw;
}

#zero p {
	text-align: left;
	margin-left: 1vw;
}

#screen {
	text-align: right;
	margin-right: 8vw;
}

#zero {
	width: 32vw;
}

.number {
	background: #333333;
}

.secFunc {
	background: #a5a5a5;
	color: black;
}

.primeFunc {
	background: #ff9f0a;
}

/* Dark Mode setting */
@media (prefers-color-scheme: light) {
    div {
      	background: white;
      	color: black;
    }
    body {
		background: white;
    }
	.number {
		color: white;
	}
	main {
		border: 1vw solid #a5a5a5;
	}
  }