/* 
Color Palette
#E2E2E2 Platnum
#230903 Licorice
#ff9f1c Orange Peel
#004643 Brunswick Green
#f4f2f3 White Smoke
*/

/* border: 1px dashed red; */

body {
	font-family: arial, helvetica;
	margin: 0;
	background-color: #E2E2E2;
	color: #230903;
	text-align: center;
	min-width: 960px;
  }
  
  /* Add a black background color to the top navigation and hide overflow, fix bar to the top */
  .topnav {
	background-color: #E2E2E2;
	box-shadow: 0px 4px 16px #230903;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
  }
  
  /* Style links inside the navigation bar */
  .topnav a {
	float: right;
	color: #230903;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	font-size: 24px;
  }

	/* Making the top nav bar more mobile friendly 
	@media screen and (max-width: 1200px) {
		.topnav a {
			font-size: 48px;
		}
		}*/
  
  #home {
	float: left;
	color: #E2E2E2;
	text-shadow: 3px 3px 2px #230903;
  }
  
  #home:hover {
	background-color: #004643;
	color: #004643;
  
  }
  
  .topnav a:hover {
	background-color: #004643;
	color: #E2E2E2;
  }

  .topnav a:active {
	color: #ff9f1c;
  }
  
  
  /* Main */
  /* Home Screen */
  .container {
	background-color: #E2E2E2;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  }
  
  .titleHolder {
	text-align: left;
	margin: 0;
	padding: 2em;
  }
  
  h1 {
	margin: 0 auto;
	color: #E2E2E2;
	font-size: 128px;
	text-shadow: 8px 8px 8px #230903;
	margin: 0;
  }

  .titleShadow {
	animation: titleAppear 2s 0s ease 1;
  }
  
  @keyframes titleAppear {
	from {
	  transform: translate(8px, 8px);
	  text-shadow: 0px 0px 0px #230903;
	}
	to {
	  transform: translate(0px, 0px);
	  text-shadow: 8px 8px 8px #230903;
	}
  }
  
  h2 {
	color: #230903;
	font-size: 32px;
	margin: 0;
  }
  
  .examples {
	border: 4px solid #230903;
	width: 192px;
	height: 192px;
	box-shadow: 8px 8px 8px #230903;
  }
  
  #contactMe,
  #recentProjects {
	text-align: right;
  }

  .boxShadow {
	animation: boxAppear 2s 0s ease 1;
  }
  
  @keyframes boxAppear {
	from {
	  transform: translate(8px, 8px);
	  box-shadow: 0px 0px 0px #230903;
	}
	to {
	  transform: translate(0px, 0px);
	  box-shadow: 8px 8px 8px #230903;
	}
  }
  
  /* Projects */
  #projects {
	background-color: #004643;
  }
  
  h3 {
	margin: 0 auto;
	color: #E2E2E2;
	font-size: 96px;
	text-shadow: 8px 8px 8px #230903;
	margin: 0;
	text-transform: uppercase;
  }
  
  /* Qualifications */
  #qualifications {
	background-color: #ff9f1c;
  }
  
  /* Contact */
  #contact {
	background-color: #E2E2E2;
  }
  
  /* Footer */
  
  /* Animated logo */
  .logo {
	position: relative;
	background-color: #230903;
	width: 4px;
	height: 64px;
	left: 96px;
	top: 66px;
	transform-origin: center;
	transform: rotate(45deg);
  }
  
  #a {
	animation: plusA 2s 2s ease 1, divideA 2s 4s ease 1, minusA 2s 6s ease 1, multA 2s 8s ease 1;
  }
  
  #b {
	top: 2px;
	transform: rotate(-45deg);
	animation: plusB 2s 2s ease 1, divideB 2s 4s ease 1, minusB 2s 6s ease 1, multB 2s 8s ease 1;
  }
  
  #c {
	top: -62px;
	transform: rotate(-45deg);
	animation: plusB 2s 2s ease 1, divideC 2s 4s ease 1, minusC 2s 6s ease 1, multC 2s 8s ease 1;
  }
  
  @keyframes plusB {
	0% {
	  transform: rotate(-45deg);
	}
	75% {
	  transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	  }
  }
  
  @keyframes plusA {
	0% {
	  transform: rotate(45deg);
	}
	75% {
		transform: rotate(90deg);
	  }
	100% {
	  transform: rotate(90deg);
	}
  }
  
  @keyframes divideA {
	0% {
	  transform: rotate(90deg);
	}
	75% {
		transform: rotate(90deg);
	  }
	100% {
	  transform: rotate(90deg);
	}
  }
  
  @keyframes divideB {
	0% {
	  transform: rotate(0deg);
	}
	75% {
		transform: scaleY(0.0625) translateY(-480px);
	  }
	100% {
	  transform: scaleY(0.0625) translateY(-480px);
	}
  }
  
  @keyframes divideC {
	0% {
	  transform: rotate(0deg) translateY(0px);
	}
	75% {
		transform: scaleY(0.0625) translateY(480px);
	  }
	100% {
	  transform: scaleY(0.0625) translateY(480px);
	}
  }
  
  @keyframes minusA {
	0% {
	  transform: rotate(90deg);
	}
	75% {
		transform: rotate(90deg);
	  }
	100% {
	  transform: rotate(90deg);
	}
  }
  
  @keyframes minusB {
	0% {
	  transform: scaleY(0.0625) translateY(-480px);
	}
	75% {
		transform: scaleY(0.0625) translateY(-480px) translateX(100px);
	  }
	100% {
	  transform: scaleY(0.0625) translateY(-480px) translateX(100px);
	}
  }
  
  @keyframes minusC {
	0% {
	  transform: scaleY(0.0625) translateY(480px);
	}
	75% {
		transform: scaleY(0.0625) translateY(480px) translateX(-100px);
	  }
	100% {
	  transform: scaleY(0.0625) translateY(480px) translateX(-100px);
	}
  }
  
  @keyframes multA {
	0% {
	  transform: rotate(90deg);
	}
	75% {
		transform: rotate(135deg);
	  }
	100% {
	  transform: rotate(135deg);
	}
  }
  
  @keyframes multB {
	0% {
	  transform: rotate(90deg);
	}
	75% {
		transform: rotate(-135deg);
	  }
	100% {
	  transform: rotate(-135deg);
	}
  }
  
  @keyframes multC {
	0% {
	  transform: rotate(90deg);
	}
	75% {
		transform: rotate(-135deg);
	  }
	100% {
	  transform: rotate(-135deg);
	}
  }


  /*
  #big-letter {
	  color: #fc5130;
	  font-size: 48px;
	  text-shadow: 4px 4px 4px black;
	  border: 1px dotted red;
	  text-align: center;
	  position: fixed;
	  margin: 0;
	  padding: 0;
		left: 50%;
	  top: 20px;
	  transform: translateX(-50%);
  }
  
  #logo {
	   width: 96px;
		height: 96px;
	  background-color: #fc5130;
	  position: fixed;
	  left: 50%;
	  top: 1em;
	  transform: translateX(-50%);
		animation: spinMove 8s 0s ease infinite;
  }
  
  @keyframes spinMove {
		0% { transform: translateX(-50%) rotate(0deg); }
	  12.5% { transform: translateX(-50%) rotate(45deg); }
	  25% { transform: translateX(-50%) rotate(90deg); }
	  37.5% { transform: translateX(-50%) rotate(135deg); }
	  50% { transform: translateX(-50%) rotate(180deg); }
	  62.5% { transform: translateX(-50%) rotate(225deg); }
	  75% { transform: translateX(-50%) rotate(270deg); }
	  87.5% { transform: translateX(-50%) rotate(315deg); }
	  100% { transform: translateX(-50%) rotate(360deg); }
  }
  
  #reveal {
	  position: fixed;
	  background-color: #050401;
	  height: 100%;
	  top: 0;
	  right: 0;
	  animation-name: bigReveal;
	  animation-duration: 6s;
	  animation-delay: 0s;
	  animation-timing-function: ease;
  }
  
  @keyframes bigReveal {
	  from { width: 100%; }
	  50% { width: 100%; }
	  to { width: 0%; }
  }
  */
  
  /* Column Quote boxes */
  
  /*
  .quotesbox {
	  display: flex;
  }
  
  .quotes {
	  color: #303036;
	  padding: 1em;
	  margin: 0;
	  width: 33.3%;
  }
  
  .quotes p {
	  text-align: justify;
  }
  
  #quote1,
  #quote2,
  #quote3 {
	  background-color: white;
	  transition: background-color 1s, color 1s;
	  transition-delay: color 2s;
  }
  
  #quote1:hover,
  #quote2:hover,
  #quote3:hover {
	  background-color: #303036;
	  color: white;
  }
  */
  