/* 
Color Palette
#202020 Black
#dfdfdf White
#feea63 Pineapple
*/

body {
    background: #202020;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    animation: blurBG 2s ease 0s 1;
    overflow: hidden;
}

  @keyframes blurBG {
    from { filter: blur(50px) }
    to { filter: blur(0px) }
  }


/* Top Navbar */
  .topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 5rem;
    background: #202020;
    top: 0;
    left: 0;
    z-index: 1;
  }

    /* Style links inside the navigation bar */
    .topnav a {
      float: right;
      text-align: center;
      padding: 1em;
      text-decoration: none;
      font-size: 1.6rem;
      color: white;
    }
      
      #home {
        float: left;
      }
      
      .topnav a:hover {
        color: #feea63;
      }


/* Main */
  main {
    width: 100%;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;

    /* Adding snappy scroll */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

    /* touchscreens */
      @media (hover: none) {    
        main {
          /* Adding snappy scroll */
          scroll-snap-type: y mandatory;
          overflow-y: scroll;
        }
        .container {
          /* Adding snappy scroll */
          scroll-snap-align: start;
        }
      }

    /* Hide scrollbar for Chrome, Safari and Opera */
      main::-webkit-scrollbar {
        display: none;
      }

    /* Hide scrollbar for IE, Edge and Firefox */
      main {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }


/* Home Page */
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    
    /* Adding snappy scroll */
    scroll-snap-align: start;
  }

    /* Border around each section */
    .border {
      box-sizing: border-box;
      width: 90%;
      height: 96%;
      border: 1rem solid white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; /* vertical */
      align-items: start; /* horizontal */
      text-align: left;
      background: url(images/pineappleBlur.jpg) no-repeat center;
      background-size: cover;
    }

    #homeScreen .border {
      background: url(images/pineapple.jpg) no-repeat center;
      background-size: cover;
      justify-content: end;
    }

    h1 {
      font-size: 2em;
      display: inline;
      padding-left: 1em;
      padding-right: 1em;
    }


/* Recent Projects */

  .titleHolder {
    width: 45%;
    height: 80%;
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: end; /* horizontal */
    text-align: right;
  }

  h2 {
    font-size: 3em;
  }

  .titleHolder p {
    font-size: 1.5em;
  }

    /* Recent Projects carousel */
    .examples {
      width: 45%;
      height: 80%;
      padding: 2.5%;
    }

    .examples iframe {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Needs to have a width AND height to work */
    }

    .examples img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Needs to have a width AND height to work */
    }

    .prevNextContainer {
      display: flex;
      padding: 1em;
      justify-content: right;
    }

    .prevBtn, .nextBtn {
      width: 1em;
      height: 1em;
      rotate: 45deg;
      border-top: 0.1em solid white;
      border-right: 0.1em solid white;
      margin-left: 1em;
    }

    .prevBtn {
      rotate: -135deg;
    }

    .prevBtn:hover, .nextBtn:hover {
      border-color: #feea63;
    }

    .randomBtn {
      height: 3em;
      background-color: #202020;
      color: white;
      border-radius: 1.5em;
    }

    .randomBtn:hover {
      background-color: #feea63;
      color: #202020;
    }

    #projectLink {
      text-decoration: none;
      color: white;
      font-size: 1em;
    }

    #projectLink:hover {
      color: #feea63;
    }


/* Qualifications */
  #qualifications .border .titleHolder {
    text-align: left;
    align-items: start;
  }


/* Contact */
  #contact {
    height: calc(100% - 5rem);
  }


/* Footer */
  footer {
    height: 4rem;
    margin: 0;
  }

/* Dark Mode setting */
  @media (prefers-color-scheme: light) {
    body {
      background: #dfdfdf;
      color: black;
    }

    .topnav a {
      color: black;
    }
    
    .topnav a:hover {
      color: #feea63;
    }

    .border {
      border: 1em solid black;
      background: url(images/pineappleLightBlur.jpg) no-repeat center;
      background-size: cover;
    }

    #homeScreen .border {
      background: url(images/pineappleLight.jpg) no-repeat center;
      background-size: cover;
    }

    .prevBtn, .nextBtn {
      border-top: 0.1em solid #202020;
      border-right: 0.1em solid #202020;
    }

    .prevBtn {
      rotate: -135deg;
    }

    .prevBtn:hover, .nextBtn:hover {
      border-color: #feea63;
    }

    #projectLink {
      text-decoration: none;
      color: #202020;
      font-size: 1em;
    }
  }

/* Mobile Sizing and Layout */
  @media screen and (max-width: 720px) {    
  
  /* Home Page */
    
      /* Border around each section */
      #homeScreen .border {
        flex-direction: row;
        justify-content: start; /* vertical */
        align-items: end; /* horizontal */
      }
  
      h1 {
        font-size: 2em;
        display: inline;
        padding-left: 1em;
        padding-right: 1em;
      }
  
  
  /* Recent Projects */
    .border {
      flex-direction: column;
      justify-content: center; /* vertical */
      align-items: center; /* horizontal */
      text-align: left;
    }
  
    .titleHolder {
      width: 80%;
      height: 45%;
      padding: 2.5%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; /* vertical */
      align-items: start; /* horizontal */
      text-align: left;
    }
  
    h2 {
      font-size: 2em;
      margin: 0;
    }
  
    .titleHolder p {
      font-size: 1em;
    }
  
      /* Recent Projects carousel */
      .examples {
        width: 80%;
        height: 45%;
        padding: 2.5%;
      }
  
      .examples iframe {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Needs to have a width AND height to work */
      }
  
      .examples img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Needs to have a width AND height to work */
      }
  
      .prevNextContainer {
        padding-left: 0;
      }
  
      .prevBtn, .nextBtn {
        width: 0.5em;
        height: 0.5em;
      }
  
      .randomBtn {
        height: 3em;
        border-radius: 1.5em;
      }
  
      #projectLink {
        font-size: 1em;
      }
  
  }