/* 
Color Palette
#E2E2E2 Platnum
#230903 Licorice
#ff9f1c Orange Peel
#004643 Brunswick Green
#f4f2f3 White Smoke
*/

/* border: 1px dashed red; */

body {
  	font-family: arial, helvetica;
  	margin: 0;
  	background-color: #fffaff;
  	color: #230903;
	text-align: center;
}

/* Margin adjusted for navbar */
main {
  	margin-top: 50px;
}

/* Add a black background color to the top navigation and hide overflow, fix bar to the top */
.topnav {
  	background-color: #E2E2E2;
	box-shadow: 0px 2px 4px #230903;
  	overflow: hidden;
  	position: fixed;
 	width: 100%;
 	top: 0;
}

/* Style links inside the navigation bar */
.topnav a {
	float: right;
	color: #230903;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	font-size: 16px;
}

#home {
	float: left;
}

.topnav a:hover {
	background-color: #004643;
	color: #E2E2E2;
}


/* Main */
.titleScreen {
	background-color: #E2E2E2;
	height: 100vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.titleScreen div {
	text-align: left;
	margin: 0;
	padding: 5em;
}

h1 {
	margin:0 auto;
  	color: #E2E2E2;
	font-size: 64px;
	text-shadow: 4px 4px 4px #230903;
	margin: 0;
}

h2 {
  	color: #230903;
	font-size: 24px;
	margin: 0;
}

/*
#big-letter {
	color: #fc5130;
	font-size: 48px;
	text-shadow: 4px 4px 4px black;
	border: 1px dotted red;
	text-align: center;
	position: fixed;
	margin: 0;
	padding: 0;
  	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}

#logo {
 	width: 96px;
  	height: 96px;
	background-color: #fc5130;
	position: fixed;
	left: 50%;
	top: 1em;
	transform: translateX(-50%);
  	animation: spinMove 8s 0s ease infinite;
}

@keyframes spinMove {
  	0% { transform: translateX(-50%) rotate(0deg); }
	12.5% { transform: translateX(-50%) rotate(45deg); }
	25% { transform: translateX(-50%) rotate(90deg); }
	37.5% { transform: translateX(-50%) rotate(135deg); }
	50% { transform: translateX(-50%) rotate(180deg); }
	62.5% { transform: translateX(-50%) rotate(225deg); }
	75% { transform: translateX(-50%) rotate(270deg); }
	87.5% { transform: translateX(-50%) rotate(315deg); }
	100% { transform: translateX(-50%) rotate(360deg); }
}

#reveal {
	position: fixed;
	background-color: #050401;
	height: 100%;
	top: 0;
	right: 0;
	animation-name: bigReveal;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-timing-function: ease;
}

@keyframes bigReveal {
	from { width: 100%; }
	50% { width: 100%; }
	to { width: 0%; }
}
*/

/* Column Quote boxes */


.quotesbox {
	display: flex;
}

.quotes {
	color: #303036;
	padding: 1em;
	margin: 0;
	width: 33.3%;
}

.quotes p {
	text-align: justify;
}

#quote1,
#quote2,
#quote3 {
	background-color: white;
	transition: background-color 1s, color 1s;
	transition-delay: color 2s;
}

#quote1:hover,
#quote2:hover,
#quote3:hover {
	background-color: #303036;
	color: white;
}
