body {
	background: black;
	font-family: Arial;
}

.hud {
	width: 12vh;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 2;
	padding: 1em;
	text-align: right;
	background: none;
}

button {
	background: none;
	color: white;
	border-radius: 2vh;
	border: 0.4vh solid white;
	font-size: 2vh;
}

h2 {
	font-size: 2vh;
	color: white;
}

div {
	background-color: black;
	height: 3.6vh;
	width: 3.6vh;
}

.game {
	height: 72vh;
	width: 36vh;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	z-index: 1;
}

.grid {
	background-color: blue;
	height: 72vh;
	width: 36vh;
	position: relative;
	left: 0;
	display: flex;
	flex-wrap: wrap;
}

.block {
	background-color: green;
}

.blockL {
	background-color: #ff7f00;
}

.blockLm {
	background-color: #0000ff;
}

.blockZ {
	background-color: #00ff00;
}

.blockZm {
	background-color: #ff0000;
}

.blockT {
	background-color: #800080;
}

.blockO {
	background-color: #ffff00;
}

.blockI {
	background-color: #00ffff;
}

.block2 {
	background-color: #7f7f7f;
}

.block3 {
	background-color: black;
}

.cutOff {
	border-bottom: 1px solid white;
}

.nextGrid {
	height: 12vh;
	width: 12vh;
	display: flex;
	flex-wrap: wrap;
}

.nextShape {
	height: 12vh;
	width: 12vh;
	left: 0;
	top: 1vh;
	position: fixed;
	z-index: 2;
}

.nextGrid div {
	height: 2vh;
	width: 2vh;
}

/*
@media only screen and (min-width: 720px) {
   div {
		height: calc(720px*0.1);
		width: calc(720px*0.1);
	}
	.game {
		height: calc(720px*2);
		width: calc(720px*1);
	}
	.grid {
		height: calc(720px*2);
		width: calc(720px*1);
	}
	.nextGrid {
		height: calc(720px*0.4);
		width: calc(720px*0.4);
  }
	.nextShape {
		height: calc(720px*0.4);
		width: calc(720px*0.4);
	}
	.hud {
		width: calc(720px*0.24);
	}
	button {
		border-radius: calc(720px*0.04);
		border: calc(720px*0.08) solid white;
		margin: calc(720px*0.01);
		font-size: calc(720px*0.04);
	}
	h2 {
		font-size: calc(720px*0.04);
	}
	.cutOff {
		border-bottom: calc(720px*0.01) solid white;
	}
	.nextGrid div {
		height: calc(720px*0.04);
		width: calc(720px*0.04);
	}
}
*/