body {
	background: black;
}

div {
	background-color: gray;
	height: 10vw;
	width: 10vw;
}

.game {
	height: 200vw;
	width: 100vw;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
}

.grid {
	background-color: blue;
	height: 200vw;
	width: 100vw;
	position: relative;
	left: 0;
	display: flex;
	flex-wrap: wrap;
}

.block {
	background-color: black;
}

.block2 {
	background-color: black;
}

.block3 {
	background-color: black;
}

.cutOff {
	border-bottom: 1px solid black;
}

.nextGrid {
	height: 40vw;
	width: 40vw;
	display: flex;
	flex-wrap: wrap;
}

.nextShape {
	height: 40vw;
	width: 40vw;
}

h2 {
	color: white;
}

@media only screen and (min-width: 720px) {
    div {
		height: calc(720px*0.1);
		width: calc(720px*0.1);
	}
	.game {
		height: calc(720px*2);
		width: calc(720px*1);
	}
	.grid {
		height: calc(720px*2);
		width: calc(720px*1);
	}
	.nextGrid {
		height: calc(720px*0.4);
		width: calc(720px*0.4);
  }
	.nextShape {
	height: calc(720px*0.4);
	width: calc(720px*0.4);
	}
}