body {
	background: black;
}

div {
	background-color: gray;
	height: 10vw;
	width: 10vw;
}

.grid {
	background-color: blue;
	height: 200vw;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.block {
	background-color: black;
}

.block2 {
	background-color: black;
}

.block3 {
	background-color: black;
}

.cutOff {
	border-bottom: 1px solid black;
}

.nextGrid {
	height: 40vw;
	width: 40vw;
	display: flex;
	flex-wrap: wrap;
}

.nextShape {
	height: 40vw;
	width: 40vw;
}

@media only screen and (min-width: 620px) {
    div {
		height: calc(620px*0.1);
		width: calc(620px*0.1);
	}
	.grid {
		height: calc(620px*2);
		width: calc(620px*1);
	}
}