body {
	background-color: white;
	color: black;
	font-family: Arial;
}

.title {
	margin: 8vw;
	display: flex;
}

.container {
	width: 40vw;
	position: relative;
	left: 50%;
	transform: translateX(-100%);
}

#scoreContainer {
	text-align: right;
}

h1 {
	margin-top: 0em;
	margin-bottom: 1em;
	font-size: 6vw;
}

h2 {
	color: white;
	border-radius: 1em;
	display: inline;
	margin-right: 0.5em;
	padding: 0.5em;
	font-size: 4vw;
}

h3 {
	font-size: 3em;
	margin: 0 auto;
	font-size: 8vw;
}

#p1 {
	background-color: red;
}

#p2 {
	background-color: blue;
	display: none;
}

#s1 {
	color: red;
}

#s2 {
	color: blue;
}

.darkMode {
	font-size: 3vw;
	margin-top: 2vw;
}

#darkMode {
	width: 3vw;
	height: 3vw;
}

.game {
	height: 90vw;
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 auto;
	padding: 1vw;
	justify-content: center;
}

.grid {
	border: 1vw solid black;
	height: 24vw;
	width: 24vw;
	margin: 0 auto;
	border-radius: 6vw;
}

.xr, .xl {
	background-color: red;
	height: 24vw;
	width: 4vw;
	border-radius: 2vw;
	rotate: 45deg;
	position: relative;
	left: 10vw;
}

.xl {
	rotate: -90deg;
	left: 0;
}

.o {
	border: 4vw solid blue;
	height: 14vw;
	width: 14vw;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}

#win {
	position: relative;
	background: black;
	border-radius: 5vw;
}

.win1 {
	width: 80vw;
	height: 4vw;
	top: -80vw;
	left: 9vw;
}

.win2 {
	width: 80vw;
	height: 4vw;
	top: -50vw;
	left: 9vw;
}

.win3 {
	width: 80vw;
	height: 4vw;
	top: -20vw;
	left: 9vw;
}

.win4 {
	width: 4vw;
	height: 80vw;
	top: -88vw;
	left: 15vw;
}

.win5 {
	width: 4vw;
	height: 80vw;
	top: -88vw;
	left: 45vw;
}

.win6 {
	width: 4vw;
	height: 80vw;
	top: -88vw;
	left: 75vw;
}

.win7 {
	width: 100vw;
	height: 4vw;
	top: -50vw;
	left: -1vw;
	rotate: 45deg;
}

.win8 {
	width: 100vw;
	height: 4vw;
	top: -50vw;
	left: -1vw;
	rotate: -45deg;
}

button {
	background: none;
	color: black;
	border-radius: 4vw;
	margin: 1vw;
	font-size: 3vw;
}

/* Limit size calc(720px*0.8) */
@media screen and (min-width: 720px) {
	.title {
		margin: calc(720px*0.08);
	}
	
	.container {
		width: calc(720px*0.4);
	}

	h1 {
		font-size: calc(720px*0.06);
	}
	
	h2 {
		font-size: calc(720px*0.04);
	}
	
	h3 {
		font-size: calc(720px*0.08);
	}
	
	.darkMode {
		font-size: calc(720px*0.03);
		margin-top: calc(720px*0.02);
	}
	
	#darkMode {
		width: calc(720px*0.03);
		height: calc(720px*0.03);
	}
	
	.game {
		height: calc(720px*0.9);
		width: calc(720px*0.9);
		padding: calc(720px*0.01);
	}
	
	.grid {
		border: calc(720px*0.01) solid black;
		height: calc(720px*0.24);
		width: calc(720px*0.24);
		border-radius: calc(720px*0.06);
	}
	
	.xr, .xl {
		height: calc(720px*0.24);
		width: calc(720px*0.04);
		border-radius: calc(720px*0.02);
		left: calc(720px*0.1);
	}

	.xl {
		left: 0;
	}
	
	.o {
		border: calc(720px*0.04) solid blue;
		height: calc(720px*0.14);
		width: calc(720px*0.14);
	}
	
	#win {
		border-radius: calc(720px*0.05);
	}
	
	.win1 {
		width: calc(720px*0.8);
		height: calc(720px*0.04);
		top: calc(720px*-0.80);
		left: calc(720px*0.09);
	}
	
	.win2 {
		width: calc(720px*0.8);
		height: calc(720px*0.04);
		top: calc(720px*-0.5);
		left: calc(720px*0.09);
	}
	
	.win3 {
		width: calc(720px*0.8);
		height: calc(720px*0.04);
		top: calc(720px*-0.2);
		left: calc(720px*0.09);
	}
	
	.win4 {
		width: calc(720px*0.04);
		height: calc(720px*0.8);
		top: calc(720px*-0.88);
		left: calc(720px*0.15);
	}
	
	.win5 {
		width: calc(720px*0.04);
		height: calc(720px*0.8);
		top: calc(720px*-0.88);
		left: calc(720px*0.45);
	}
	
	.win6 {
		width: calc(720px*0.04);
		height: calc(720px*0.8);
		top: calc(720px*-0.88);
		left: calc(720px*0.75);
	}
	
	.win7 {
		width: calc(720px*1);
		height: calc(720px*0.04);
		top: calc(720px*-0.5);
		left: calc(720px*-0.01);
	}
	
	.win8 {
		width: calc(720px*1);
		height: calc(720px*0.04);
		top: calc(720px*-0.5);
		left: calc(720px*-0.01);
	}
	
	button {
		border-radius: calc(720px*0.04);
		margin: calc(720px*0.01);
		font-size: calc(720px*0.03);
	}
  }